/* common settings */
* {
  margin: 0;
  padding: 0;
}
/* main wrapp */
.wrap {
  display: flex;
  white-space: pre-line;
}

/* table */
#userdata {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

#userdata,
#userdata th,
#userdata td {
  border: 1px solid #000;
}

th {
  padding: 5px;
}

td {
  padding: 5px;
}

.name {
  position: relative;
}

.name-info {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

/* arrow */
#userdata tr.selected {
  position: relative;
  background-color: #b8dcb8;
}

#userdata tr.selected td.name::after {
  content: '';
  position: absolute;
  left: 500px;
  display: block;
  bottom: 30%;
  border: 20px solid transparent;
  border-left: 20px solid #32CD32;
}

/* details */
.details-cell {
  white-space: pre-line;
  background-color: #b8dcb8;
  width: 100%;
  display: none;
  flex-direction: column;
  border: 1px solid #000;
  border-left: 0px;
}

.details-head {
  display: flex;
  padding: 5px;
  border-bottom: 1px solid #000;
  font-weight: bold;
}

.details-content {
  display: flex;
  justify-content: space-between;
  padding: 15px 0 0 30px;
}

.details-wrap {
  display: flex;
  flex-direction: column;
}

.details-title {
  display: flex;
  flex-direction: row;
}

/* btn */
.btn-close {
  background-color: transparent;
  border: none;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 10px;
  transition: 0.3s ease-out;
  outline: none;
}

.btn-close::before,
.btn-close:after {
  content: "";
  position: absolute;
  top: 24px;
  left: 8px;
  width: 36px;
  height: 4px;
  background: #000;
}

.btn-close::before {
  transform: rotate(50deg);
}

.btn-close:after {
  transform: rotate(-50deg);
}

.btn-close:hover {
  background-color: #32CD32;
}

/* active class for name block in table (clicked) and details-cell */
.active {
  display: flex;
}

@media (max-width: 900px) {
  .details-content {
    display: flex;
    flex-direction: column;
  }
}
